PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://visala_p:<db_password>@cluster0.ne61tyu.mongodb.net/?appName=Cluster0
MONGODB_DB=college_discovery_platform

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# Frontend URL
FRONTEND_URL=http://localhost:5173

# College API
COLLEGE_API_BASE_URL=https://collegeapi.onrender.com/api
